{% extends "base.html" %}

{% block content %}
    <h3>All Blog Posts</h3>
    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% endif %}
    <p>
        <ol>
        {% for post in posts %}
        <li>
            <h2><a href="/blog?id={{post.id}}">{{ post.title }}</a></h2>
            <p><a href="/singleuser?id={{post.owner.id}}">{{ post.owner.username }}</a></p>
            <em>{{ post.pub_date }}</em>
            <p>{{ post.body}}</p>
        </li>
        <hr />
        {% endfor %}
        </ol>
    </p>

{% endblock %}