{% extends 'base.html' %}

{% block content %}

    <h3>Recent Posts</h3>
    <hr />
    {% if posts|length == 0 %}
        <h2>No Posts yet...you should make one!</h2>
    {% endif %}


        <ol>
        {% for post in posts %}
        <li>
            <h2><a href="/blog?id={{post.id}}">{{ post.title }}</a></h2> <span class="right"><em>{{ post.pub_date }}</em></span>
            <p>Posted by: <a href="/singleuser?id={{post.owner.id}}"><button class="btn btn-default btn-lg">{{ post.owner.username }}</button></a></p>
            <p>{{ post.body | truncate(500)}}</p>
        </li>
        <hr />
        {% endfor %}
        </ol>
    



{% endblock %}

