{% extends "base.html" %}
{%block content %}
<h1>Sign up to write your own blog!</h1>
<hr />
<div>
    <form action='/signup' method="post">
         <table> 
    <div class="form-group">
             <tr> 
                <td><label for="username">User Name:</label></td>
                <td><input type="text" name="username" value='{{user_name}}' />
             </tr> 
    </div>
    <div class="form-group">
             <tr> 
                <td><label for="password">Password:</label></td>
                <td><input type="password" name="password" />
             </tr> 
    </div>
    <div class="form-group">
             <tr> 
                <td><label for="password_check">Verify password:</label></td>
                <td><input type="password" name="verify" />
             </tr> 
    </div>
    <div class="form-group">
             <tr> 
                <td><input type="submit" value="Register" /></td>
             </tr> 
    </div>
         </table> 
    </form>
</div>
{% endblock %}